@import "./reset.scss";
@import "./icon.scss";
@import './transition.scss';
@import "./variable.scss";
@import "./mixin.scss";
* {
  box-sizing: border-box;
}
.selector::-webkit-scrollbar {
  display: none
}
body,
html {
  height: 100%;
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial,
  sans-serif, 'Droid Sans Fallback';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 600px;
  min-width: 842px;
}
// layout
.app-wrapper {
  @include clearfix;
  position: relative;
  height: 100%;
  width: 100%;
}
// 侧边栏

// 主体区域
