// 颜色定义规范
$bg: #ee860b;
$orange: #ee860b;

$white: white;

$blue-5l: #f0fffc;
$blue-4l: #ddfffc;
$blue-3l: #c1fffc;
$blue-2l: #73ECFD;
$blue-l: #41E6FD;
$blue: #03DCFA;
$blue-d: #31AABB;
$blue-2d: #018FA3;
$blue-simple: #409EFF;

$dark_gray: #889aa4;
$light_gray: #eee;

// header
$headerHeight: 80px;

//sidebar
$sidebarWidth: 300px;
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

