// 颜色定义规范
$orange: #EE860B;

$white: white;
$bg: #F5F5F5;

$gray_introduction: #FAFAFA;
$gray_line: #D9D9D9;
$gray_line_on: #5CCCCC;
$gray_placeholder: #BDBDBD;
$gray_light: #999999;
$gray: #666666;
$gray_dark: #404040;
$blue: #4F7DDD;
$black: #000000;

$light-gray: #cccccc;
